body {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  display: inline;
  margin: 0px;
}
.container-fluid {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
}
/* ============= Animation background ========= */
.background {
  background: linear-gradient(132deg, #fc415a, #591bc5, #212335);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0px;
}

/* ================= Header ============ */
header {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* navbar */
nav {
  color: #fff;
  float: right;
  margin: 30px 90px;
}
nav ul {
  list-style: none;
}
nav ul li {
  float: left;
  transition: 0.3s;
}
nav ul li a {
  text-decoration: none;
  color: #efeef5;
  transition: 0.5;
  font-size: 15px;
  margin-left: 16px;
  position: relative;
}
nav ul li:hover a {
  text-decoration: none;
  color: white;
}
nav ul li:hover {
  height: 45px;
  padding-top: 30px;
  margin-top: -30px;
  text-decoration: underline;
}
/* Logo */
.logo {
  width: 35px;
  height: 35px;
  background: #efeef5;
  margin: 40px 63px;
  float: left;
  transform: rotate(-30deg);
}
.logo span {
  color: #591bc5;
  font-size: 2em;
  line-height: 1.4;
  padding-left: 5px;
  font-weight: bold;
}
/* Header content & title & button*/
.header-content {
  margin-top: 18%;
  text-align: center;
  color: #efeef5;
}
.header-content h1 {
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 1px;
}
.header-content p {
  font-size: 20px;
  line-height: 1.5;
  margin: 20px auto;
}
.header-content button {
  width: 140px;
  margin: 20px 10px;
  color: #591bc5;
  font-size: 17px;
  border: 1px solid #efeef5;
  font-weight: 550;
  background: #efeef5;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.header-content button:hover {
  border-radius: 0;
}
/* Animate Background*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

span {
  display: inline-block;
}

.flipH {
  transform: scale(-1, 1);
  color: #1c87c9;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}